.dark-theme {
  --backgroundColor: transparent;
  --backgroundColor: #011021;
  --backgroundColorLighter: #363d47;
  --textColor: #faebd7;
  --buttonTextColor: antiquewhite;
  --successColor: mediumspringgreen;
}