.headerWrapper {
  height: 7vh;
  width: 100vw;
  user-select: none;
  z-index: 1;
  position: fixed;
  top: 0;
  font-size: 0.81rem;

  .headerInner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70vw;
    height: 7vh;
    overflow: hidden;
    margin: 0 15vw;
    background-color: var(--backgroundColor);
    font-size: 1em;

    h1 {
      font-size: 2em;
    }

    .headerBtnWrapper {
      .headerBtn {
        height: 100%;
        background: transparent;
        color: inherit;
        border: none;
        padding: 0 0.5em;
        font-size: 1.5em;
        outline: none;
        cursor: pointer;
        transform: rotate(0deg);

        &:focus {
          padding: 0 0.5em;
        }
      }
    }
  }
}

.light-theme {
  .themeToggle {
    transform: rotate(180deg);
  }
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  ul {
    list-style: none;
    width: 24vw;
    line-height: 3;
    display: block;
    padding: 0;
    margin: 0;
  }

  li {
    height: 100%;
    width: 4vw;
    float: left;
    cursor: pointer;
    margin: 0 1vw;
    text-align: center;

    button {
      height: 100%;
      background: transparent;
      color: inherit;
      border: none;
      font-size: 1rem;
      outline: none;
      cursor: pointer;
    }
  }
}