//@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Noto+Sans:wght@400;700&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,300&display=swap");
//@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&family=Major+Mono+Display&family=Megrim&family=Monoton&family=Quicksand:wght@300;400&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans:wght@300;400&family=Roboto:ital,wght@0,100;0,700;1,300&display=swap');

$legacy-support-for-mozilla: true;
$fa-font-path: "../../src/styles/fontawesome/webfonts";

@import "src/styles/fontawesome/scss/fontawesome.scss";
@import "src/styles/fontawesome/scss/brands.scss";
@import "src/styles/fontawesome/scss/solid.scss";

@import "src/styles/dark";
@import "src/styles/light";

:root {
  font-size: 16px;
  scrollbar-width: none;
  --readable-content-width: 64rem;
  --readable-content-height: 90vw;

  &::-webkit-scrollbar {
    display: none;
  }
}

@media only screen and (min-width: 1400px) {
  :root {
    //--readable-content-width: 60rem;
    font-size: 16px;
    --readable-content-width: 81rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  -webkit-font-smoothing: antialiased;

  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  margin: 0px;
  min-height: 100vh;
  min-width: 100vw;
  overflow: visible;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  //font-family: 'Libre Barcode 128 Text', cursive;
  //font-family: 'Major Mono Display', 'Megrim', 'Monoton', monospace, cursive;
  //font-family: Quicksand, -apple-system, system-ui;
  font-family: 'Open Sans', 'Noto Sans', system-ui;

  .monoton {
    font-family: 'Monoton', monospace, cursive;
    font-weight: 500;
  }

  .megrim {
    font-family: 'Megrim', cursive;
  }

  .major {
    font-family: 'Major Mono Display', monospace, cursive;
  }
}


