
.mainView {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  position: absolute;
  background-color: var(--backgroundColor);

  .introSection {
    width: 70vw;
    margin: 29vh auto 0;

    &:first-child {
      margin-top: 36vh;
    }

    &:last-child {
      margin-bottom: 7vh;
    }
  }
}


video {
  width: 100%;
  object-fit: cover;
}