
.mainView {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  position: absolute;
  background-color: var(--backgroundColor);

  .introSection {
    width: var(--readable-content-width);
    margin: 30vh auto 0;
  }

  .skillSection, .projects {
    width: var(--readable-content-width);
    margin: 29vh auto 0;
  }

  .projects {
    margin-bottom: 7vh;
  }
}

video {
  width: 100%;
  object-fit: cover;
}