.wrapper {
  height: 100vh;
  width: 100vw;
  overflow: auto;
  color: var(--textColor);
  background: var(--backgroundColor);

  hr {
    border-color: var(--textColor);
  }


  footer {
    height: 7vh;
    width: 100vw;
    text-align: center;
    line-height: 4;
    position: fixed;
    bottom: 0;
    z-index: 1;
    background: transparent;

    .fab {
      margin-left: 0.25rem;
    }
  }
}

.styler {
  height: 100%;
  width: 100%;
  backdrop-filter: blur(3px);
  position: absolute;
  top: 0;
  z-index: -1;
}

.mainView {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: scroll;

  .introSection, .skillSection, .projects {
    width: var(--readable-content-width);
    padding: 0 1rem;
  }

  .projects {
    margin-bottom: 7vh;
  }
}